test/src/main/java/com/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="G_1">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="ORGANIZATION_NAME"/>
        <xs:element type="xs:short" name="ORGANIZATIONID"/>
        <xs:element type="xs:short" name="ITEMNUMBER"/>
        <xs:element type="xs:string" name="ITEMDESCRIPTION"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>